<%= render "global/header" %>

<h2>New Item</h2>

<% if @schema %>
    <h4>Using Schema: <%= @schema.name %></h4>
    <%= render "form" %>
<% else %>
    <p>You cannot create an item without a schema.</p>
<% end %>
