@import url('https://fonts.googleapis.com/css2?family=Palanquin');

$font: "Palanquin", sans-serif;

$header-button-start-color: #0990f7;
$header-button-end-color: #0abffc;

$action-button-start-color: #fc922f;
$action-button-end-color: #fc641e;

* {
    font-family: $font;
}

%link {
    color: black;
}

a {
    color: black;
}

%button {
    text-decoration: none;

    padding: 16px;
    font-size: 17px;
    box-shadow: none;
    transition: 0.2s;
    border:none;

    &:hover {
        box-shadow: 0 0 4px #888;
        cursor: pointer;
    }
}

%box_info {
    border: 2px solid black;
    * {
        margin: 10px;
    }
    margin-bottom: 10px;
    padding: 5px;
}

%actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > *:not(:first-child) {
        margin-left: 15px;
    }
}

.action_button {
    @extend %button;

    background: #5e90a8;
    color: white;
}


@media only screen and (max-width: 1000px) {

    %actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > *:not(:first-child) {
            margin-left: 0
        }

        > *:first-child {
            margin-left: 0;
        }
        > * {
            margin: 10px;

//            margin-left: 15px;
        }
    }
}
